*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

:root {
  --background: #fff;
  --background-dark: #454545;
  --foreground: #171717;
  --text-color-primary: #000000;
  --text-color-light: #fff;
  --brand: #219D80;
  --brand-light: #EAFAEA;
  --text-neutral: #73777B;
  --text-neutral-light: #AFAFAF;
  --danger: #DD0303;
  --border-neutral: #EEE;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-family: var(--font-nunito), sans-serif;
  color: var(--text-color-primary);
  background-color: var(--background);
  line-height: 1.8;
  position: relative;
}

button {
  background-color: transparent;
  border: 0;
}

header {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--text-color-primary);
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--background);
}

.cds-name {
  font-family: var(--font-raleway), serif;
  font-weight: 700;
  color: var(--brand);
}

.logo-link {
  font-weight: 700;
  font-size: 1.2rem;
  font-family: var(--font-raleway), serif;
}

.nav-links{
  display: none;
}

.nav-link,
footer .quick-link {
  text-transform: capitalize;
}

.mobile-nav-links-wrapper {
  position: fixed;
  inset: 0;
  background-color: var(--background);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
  transition: opacity 0.35s ease, transform 0.35s ease;
  padding: 1rem 1rem 0 0;
}

/* When active */
.mobile-nav-links-wrapper.active {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.close-mobile-nav-btn{
  align-self: flex-end;
  color: var(--danger);
}

.mobile-nav-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.mobile-nav-links .nav-link a {
  color: var(--foreground);
  transition: color 0.3s ease;
}

.mobile-nav-links .nav-link a:hover {
  color: var(--brand);
}

.menu-open {
  overflow: hidden;
  height: 100vh;
}

main {
  flex: 1;
}

.container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

section {
  padding: 5rem 0;
}

.section-title {
  position: relative;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;
  font-family: var(--font-raleway), serif;
  letter-spacing: 1.5;
  color: var(--brand);
}

.section-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: var(--background-dark);
  margin: 1rem auto 0;
  border-radius: 2px;
}

.hero {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  background-image: url("../public/images/hero4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0,0,0, 0.7), rgba(0,0,0,0.1));
  z-index: 1;
  display: flex;
  align-items: center;
}

.hero-text{
  max-width: 600px;
  color: var(--text-color-light);
  animation: fadeInUp 1s ease-out;
  font-size: 1.5rem;
}

.hero-headline,
.main-header,
.article-page .article-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: var(--font-raleway), sans-serif;
}

.btn {
  display: inline-block;
  background-color: var(--brand);
  color: var(--text-color-light);
  font-weight: 700;
  font-size: 1rem;
  padding: .75rem 1rem;
  transition: background-color 0.3s ease;
  letter-spacing: 1.5;
}

.btn:hover {
  background-color: transparent;
  color: var(--brand);
  border: 2px solid var(--brand);
}

.btn-hero:hover{
  color: var(--text-color-light);
  background-color: transparent;
  border: 2px solid var(--text-color-light);
}

.regular-text,
.program-description,
.article-body,
.contact-options,
.body-text {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
}

.about .container {
  flex-direction: column;
  gap: 3rem;
}

.about-item{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.about-subtitle,
.article-title,
.program-title,
.footer-item-title,
.empty-state {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: var(--font-raleway), serif;
}

.about-img-wrapper{
  position: relative;
  height: 300px;
  width: 100%;
}

.about-image{
  object-fit: cover;
  border-radius: 8px;
}

.latest-articles .container,
.programs .container {
  flex-direction: column;
  gap: 3rem;
}

.latest-articles .container {
  margin-bottom: 3rem;
}

.article-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.article-meta-data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .5rem;
}

.article-meta-data .icon,
.article-meta-data .text {
  display: flex;
  align-items: center;
  color: var(--text-neutral);
}

.article-meta-data .text{
  font-size: 1rem;
}

.article,
.program-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  border-radius: 10px;
  padding: 1rem;
  transition: transform 0.3s ease;
}

.article:hover,
.program-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.article-image-wrapper {
  position: relative;
  width: 100%;
  height: 200px;
  margin-bottom: 2rem;
}

.article-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: .5rem;
}

.article-title{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-body {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1.5rem;
}

.article-date {
  font-size: 0.9rem;
  color: var(--text-neutral);
  margin-bottom: 1rem;
}

.article-cta{
  display: flex;
  align-items: center;
  gap: .5rem;
}

.read-more {
  font-weight: 700;
  color: var(--brand);
  font-size: 1.2rem;
}

.latest-articles-cta-wrapper {
  text-align: center;
}

.program-date,
.program-location {
  display: flex;
  margin-bottom: 1em;
  align-items: flex-start;
  gap: .5rem;
}

.program-date-text,
.program-location-text {
  font-size: 1rem;
  color: var(--text-neutral);
}

footer {
  background-color: var(--background-dark);
  padding: 7rem 0;
  display: flex;
  align-items: center;
  color: var(--text-neutral-light);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

footer .container {
  flex-direction: column;
  gap: 2rem;
}

footer .quick-links,
.contact-options {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

footer .quick-link:hover {
  color: #fff;
}

.page-banner{
  height: 30vh;
  background-color: var(--brand-light);
  background-image: url("/images/hero5.jpg");
  background-position: center;
  position: relative;
}

.page-banner .main-header {
  color: var(--text-color-light);
}

.accent-bar {
  display: inline-block;
  width: 6px;
  height: 30px;
  background-color: #00b37d;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 4px;
}

.contact-option {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.contact-page .container {
  flex-direction: column;
  gap: 3rem;
}

.contact-card{
  width: 100%;
  background-color: var(--background);
}

.contact-form,
.about-page .who-we-are .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.form-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  width: 100%;
}

.input-field,
textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--text-neutral-light);
  font-size: 1rem;
  font-family: var(--font-montserrat), sans-serif;
}

.input-field:focus,
textarea:focus {
  outline: none;
  border-color: var(--brand);
}

.input-label{
  margin-bottom: .5rem;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: .5rem;
  font-family: var(--font-raleway), sans-serif;
}

.contact-btn{
  border: none;
}

.blog-page .grid .container,
.events-page .grid .container,
.our-team .grid .container,
.upcoming-events .grid .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.pagination{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
}

.pagination-button{
  background-color: var(--background);
  border: 0;
  height: 40px;
  width: 40px;
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #ccc;
  transition: background-color .5s ease-in-out;
}

.pagination-button:hover{
  background-color: var(--background-dark);
  color: var(--text-color-light);
  border: none;
}

.article-page {
  padding-top: 2rem;
}

.article-page .container{
  max-width: 750px;
  margin: 0 auto;
}

.article-full-img-wrapper{
  position: relative;
  width: 100%;
  height: 40vh;
  margin: 0 auto;
}

.article-page .article-image{
  border-radius: .5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-body-full .container{
  flex-direction: column;
}

.article-page .article-title{
  display: block;
}

.article-page .article-date{
  margin-bottom: 2rem;
}

.member-card{
  width: 100%;
  background-color: var(--background);
  border-radius: 10px;
  transition: transform 0.3s ease;
  border: 1px solid var(--border-neutral);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.member-image-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}

.member-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.member-card:hover{
  transform: translateY(-4px);
}

.member-name{
  font-family: var(--font-raleway), sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 1.5;
  margin-bottom: .5rem;
}

.member-title {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-neutral);
}

.empty-state{
  color: var(--text-neutral-light);
}

.stay-connected{
  background-color: var(--brand-light);
}

.stay-connected .container{
  flex-direction: column;
}

.stay-connected-title{
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-raleway), sans-serif;
  margin-bottom: 1rem;
}

.stay-connected-title .subtext{
  margin-bottom: 1rem;
}

.stay-connected-form .form-fields{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.blog-page,
.events-page,
.article-page {
  padding-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .logo-link{
    font-size: 1.5rem;
  }
  
  .nav-links {
    display: flex;
    gap: 2rem;
    font-weight: 500;
    font-size: 1.2rem;
  }

  .nav-link:hover {
    color: var(--brand);
  }

  .mobile-nav-links-wrapper{
    display: none !important;
  }

  .menu-icon{
    display: none;
  }

  .hero-headline{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: var(--font-raleway), sans-serif;
    text-transform: capitalize;
  }

  .regular-text,
  .program-description,
  .contact-option,
  footer .quick-link,
  .body-text{
    font-size: 1.2rem;
  }

  .btn{
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    text-transform: capitalize;
  }

  .section-title{
    font-size: 2.5rem;
  }

  footer .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .about .container {
    flex-direction: row;
    gap: 2rem;
  }

  .about-item,
  .mission-item {
    width: 45%;
  }

  .about-img-wrapper{
    align-self: center;
    justify-self: center;
  }

  .latest-articles .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .read-more {
    font-size: 1.2rem;
  }

  .programs .container {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }

  .contact-page .container,
  .about-page .who-we-are .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-card {
    width: 100%;
  }

  .blog-page .grid .container,
  .events-page .grid .container,
  .our-team .grid .container,
  .upcoming-events .grid .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .footer-item {
    width: 30%;
  }

  footer .quick-links {
    gap: 1rem;
  }

  .page-banner{
    height: 40vh;
  }

  .article-full-img-wrapper{
    position: relative;
    height: 70vh;
  }

  .article-page .article-image{
    border-radius: .5rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .member-name{
    font-size: 1.5rem;
  }

  .stay-connected-title{
    font-size: 2.5rem;
  }

  .stay-connected-form .form-fields{
    flex-direction: row;
  }
}
